<!DOCTYPE html>
<html lang="ch">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=0" />
	<title>生意头条 - 生意宝</title>
</head>

<body>
	<div class="header-index-w top_active" id="header">
		<!-- 引入公共页头 -->
		<%= require("html-loader!../common/header/index.html") %>

	</div>
	<%= require("html-loader!../common/fixed_btn/index.html") %>
	<header class="header-w" id="huaban">
		<!-- <div class="header-mask">
			<img src="/job/img/bgabc.jpg" id="maskImg" alt="">
		</div> -->
		<div class="header-main">
			<div class="header-swiper" id="headerSwiper">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide ">
							<video width="100%" autoplay="autoplay" loop="loop" preload="" muted="muted"
								src="http://dingxiang.netsun.testwebsite.cn/public/file/2042.mp4"
								class="video1 video"></video>
							<div class="swiper-content swiper-no-swiping dx-flex dx-col d-col-center d-row-center">
								<div class="swiper-title mb-2">
									让世界看到你的影响力
								</div>
								<div class="swiper-title  ">
									<div class="h3">网盛2023校园招聘</div>
								</div>
								<!-- <div class="video-icon" data-toggle="modal" data-target="#videoModal">
									<i class="bi bi-play-circle"></i> 
								</div> -->

							</div>

						</div>
						<!-- <div class="swiper-slide">
							<img src="/job/img/swiper-bg2.jpg" alt="">
							<div class="swiper-content swiper-no-swiping dx-flex dx-col d-col-center d-row-center">
								<div class="swiper-title mb-3">
									让世界看到你的影响力
								</div>
							</div>
						</div> -->
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
			<!-- <div class="swiper-navi" id="swiperNavi">
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div> -->
		</div>


	</header>
	<main>
		<div class="job-main-wrapper pb-4">
			<div class="base_box pt-5 pb-2" id="nav">
				<div class="card-deck">
					<div class="card shadow-sm">
						<div class="card-body">
							<h5 class="card-title h5 font-weight-bolder text-body">校招公告/新闻/标题</h5>
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to
								additional content. This content is a little bit longer.</p>
						</div>
						<div class="card-footer">
							<small class="text-muted">5 分钟前</small>
						</div>
					</div>
					<div class="card shadow-sm">
						<div class="card-body">
							<h5 class="card-title h5 font-weight-bolder text-body">校招公告/新闻/标题</h5>
							<p class="card-text">This card has supporting text below as a natural lead-in to additional
								content.</p>
						</div>
						<div class="card-footer">
							<small class="text-muted">3 小时前</small>
						</div>
					</div>
					<div class="card shadow-sm">
						<div class="card-body">
							<h5 class="card-title h5 font-weight-bolder text-body">校招公告/新闻/标题</h5>
							<p class="card-text d-line-5">This is a wider card with supporting text below as a natural lead-in to
								additional content. This card has even longer conted with supporting text below as a natural lead-in to
								additional content. This card has even longer conted with supporting text below as a natural lead-in to
								additional content. This card has even longer content than the first to show that equal
								height action.</p>
						</div>
						<div class="card-footer">
							<small class="text-muted">2023年1月27日</small>
						</div>
					</div>
				</div>
			</div>
			<div class="base_box pt-5 pb-2">
				<div class="base_title dx-flex d-row-between d-col-center mb-5">
					<div class="base_title_item base_title_icon dx-flex ">
						<div class="h2 text-body mb-0">为什么选择网盛</div>
					</div>
					<div class="base_title_item"></div>
				</div>
				<div class="base_content base_content_col4 dx-flex d-col-top d-row-between">
					<div class="base_content_item  dx-flex-1 dx-flex dx-col d-col-top">
						<div class="base_content_item_title font-weight-bolder pb-4 h5 text-body ">智慧连接，美好生活</div>
						<div class="base_content_item_sub pt-2 pb-2 h6">
							网盛长期致力于社交平台与数字内容两大核心业务，积极拥抱产业互联网，努力成为各行各业数字化助手，通过连接，提升每一个人的生活品质。</div>
					</div>
					<div class="base_content_item  dx-flex-1 dx-flex dx-col d-col-top">
						<div class="base_content_item_title font-weight-bolder pb-4 h5 text-body ">用行动关心你的成长</div>
						<div class="base_content_item_sub pt-2 pb-2 h6">
							这里有着富有挑战和影响力的工作内容，完备的职业培训和晋升体系，以及灵活的内部转岗机制，引领你发现更多可能。</div>
					</div>
					<div class="base_content_item  dx-flex-1 dx-flex dx-col d-col-top">
						<div class="base_content_item_title font-weight-bolder pb-4 h5 text-body ">迎接每个特别的你</div>
						<div class="base_content_item_sub pt-2 pb-2 h6">
							自由包容的文化氛围让你自由发展，你的声音会被认真聆听，在这里，你遇到的不只是同事，更是并肩成长的伙伴</div>
					</div>
					<div class="base_content_item  dx-flex-1 dx-flex dx-col d-col-top">
						<div class="base_content_item_title font-weight-bolder pb-4 h5 text-body ">福利关怀浸透你的生活</div>
						<div class="base_content_item_sub pt-2 pb-2 h6">
							你的努力会被铭记，你的付出会被真诚对待，舒适与科技融合的办公环境，极具竞争力的薪酬和激励体系，完善和个性化员工福利，只为回报你的尽心拼搏。</div>
					</div>
				</div>
			</div>
			<!-- 探索你的未来 -->
			<div class="base_box pt-5 pb-2 discover">
				<div class="base_title dx-flex d-row-between d-col-center mb-5">
					<div class="base_title_item base_title_icon dx-flex ">
						<div class="h2 text-body mb-0">探索你的未来</div>
					</div>
					<div class="base_title_item">
						<div class="more_btn">
							<a class="btn_wrap" href="/job/search.html" target="_blank">
								<span class="top-text">探索</span>
								<div class="container">
									<span class="text text1">解</span>
									<span class="text text2">锁</span>
									<span class="text text3">更</span>
									<span class="text text4">多</span>
									<span class="text text5">职</span>
									<span class="text text6">位</span>
								</div>
							</a>

						</div>

					</div>
				</div>
				<div class="base_content base_content_col3 dx-flex d-col-top dx-flex-wrap">
					<div class="base_content_item">
						<a class="base_content_item_job shadow-sm p-4 text-body" href="/job/search.html" target="_blank">
							<div class="job_row dx-flex d-row-between mb-4">
								<div class="job_row_item">
									<span class="job_name font-weight-bolder h5 mb-0">技术类</span>
								</div>
								<div class="job_row_item job-icon">
									<i class="bi bi-justify-right text-primary"></i>
								</div>
							</div>
							<div class="job_row dx-flex d-row-between">
								<div class="job_row_item dx-flex d-col-baseline text-primary">
									<span class="h6 mb-0 font-weight-bolder">了解更多</span>
									<i class="small bi bi-chevron-right"></i>
								</div>
							</div>
						</a>
					</div>
					<div class="base_content_item">
						<a class="base_content_item_job shadow-sm p-4 text-body" href="/job/search.html" target="_blank">
							<div class="job_row dx-flex d-row-between mb-4">
								<div class="job_row_item">
									<span class="job_name font-weight-bolder h5 mb-0">产品类</span>
								</div>
								<div class="job_row_item job-icon">
									<i class="bi bi-justify-right text-primary"></i>
								</div>
							</div>
							<div class="job_row dx-flex d-row-between">
								<div class="job_row_item dx-flex d-col-baseline text-primary">
									<span class="h6 mb-0 font-weight-bolder">了解更多</span>
									<i class="small bi bi-chevron-right"></i>
								</div>
							</div>
						</a>
					</div>
					<div class="base_content_item">
						<a class="base_content_item_job shadow-sm p-4 text-body" href="/job/search.html" target="_blank">
							<div class="job_row dx-flex d-row-between mb-4">
								<div class="job_row_item">
									<span class="job_name font-weight-bolder h5 mb-0">内容类</span>
								</div>
								<div class="job_row_item job-icon">
									<i class="bi bi-justify-right text-primary"></i>
								</div>
							</div>
							<div class="job_row dx-flex d-row-between">
								<div class="job_row_item dx-flex d-col-baseline text-primary">
									<span class="h6 mb-0 font-weight-bolder">了解更多</span>
									<i class="small bi bi-chevron-right"></i>
								</div>
							</div>
						</a>
					</div>
					<div class="base_content_item">
						<a class="base_content_item_job shadow-sm p-4 text-body" href="/job/search.html" target="_blank">
							<div class="job_row dx-flex d-row-between mb-4">
								<div class="job_row_item">
									<span class="job_name font-weight-bolder h5 mb-0">设计类</span>
								</div>
								<div class="job_row_item job-icon">
									<i class="bi bi-justify-right text-primary"></i>
								</div>
							</div>
							<div class="job_row dx-flex d-row-between">
								<div class="job_row_item dx-flex d-col-baseline text-primary">
									<span class="h6 mb-0 font-weight-bolder">了解更多</span>
									<i class="small bi bi-chevron-right"></i>
								</div>
							</div>
						</a>
					</div>
					<div class="base_content_item">
						<a class="base_content_item_job shadow-sm p-4 text-body" href="/job/search.html" target="_blank">
							<div class="job_row dx-flex d-row-between mb-4">
								<div class="job_row_item">
									<span class="job_name font-weight-bolder h5 mb-0">销售、服务与支持类</span>
								</div>
								<div class="job_row_item job-icon">
									<i class="bi bi-justify-right text-primary"></i>
								</div>
							</div>
							<div class="job_row dx-flex d-row-between">
								<div class="job_row_item dx-flex d-col-baseline text-primary">
									<span class="h6 mb-0 font-weight-bolder">了解更多</span>
									<i class="small bi bi-chevron-right"></i>
								</div>
							</div>
						</a>
					</div>
					<div class="base_content_item">
						<a class="base_content_item_job shadow-sm p-4 text-body" href="/job/search.html" target="_blank">
							<div class="job_row dx-flex d-row-between mb-4">
								<div class="job_row_item">
									<span class="job_name font-weight-bolder h5 mb-0">人力资源类</span>
								</div>
								<div class="job_row_item job-icon">
									<i class="bi bi-justify-right text-primary"></i>
								</div>
							</div>
							<div class="job_row dx-flex d-row-between">
								<div class="job_row_item dx-flex d-col-baseline text-primary">
									<span class="h6 mb-0 font-weight-bolder">了解更多</span>
									<i class="small bi bi-chevron-right"></i>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="job-main-wrapper pb-4">

			<div class="base_box pt-5 pb-2 jober-wall">
				<div class="base_title dx-flex d-row-between d-col-center mb-5">
					<div class="base_title_item base_title_icon dx-flex ">
						<div class="h2 text-body mb-0">学长Ta说</div>
					</div>
					<div class="base_title_item"></div>
				</div>
				<div class="base_content">
					<div class="swiper-container pt-4 pb-4" id="joberSwiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<section class="about-dev">
									<header class="profile-card_header">
										<div class="card-cover" style="background-image: url('/job/img/wall7.png');">
										</div>
										<div class="profile-card_header-container">
											<div class="profile-card_header-imgbox">
												<img src="/job/img/wall7.png" alt="Mewy Pawpins" />
											</div>
											<h1 class="swiper-no-swiping">无敌大师兄1 <span>19届-美国约翰霍普金斯大学 -金融学</span>
											</h1>
										</div>
									</header>
									<div class="profile-card_about swiper-no-swiping">
										<h2 class="mb-3">IEG-互娱发行线STC产品部-游戏策划</h2>
										<p class="d-line-3">参与到一个创造快乐，发现更多可能的过程，我非常幸福</p>

									</div>
								</section>
							</div>
							<div class="swiper-slide">
								<section class="about-dev">
									<header class="profile-card_header">
										<div class="card-cover" style="background-image: url('/job/img/wall2.png');">
										</div>
										<div class="profile-card_header-container">
											<div class="profile-card_header-imgbox">
												<img src="/job/img/wall2.png" alt="Mewy Pawpins" />
											</div>
											<h1 class="swiper-no-swiping">无敌大师兄2 <span>19届-美国约翰霍普金斯大学 -金融学</span>
											</h1>
										</div>
									</header>
									<div class="profile-card_about swiper-no-swiping">
										<h2 class="mb-3">IEG-互娱发行线STC产品部-游戏策划</h2>
										<p class="d-line-3">
											“最初，我被‘科技向善’这句使命愿景打动；现在，我正在工作中不断探索这句话的意义。”
										</p>

									</div>
								</section>
							</div>
							<div class="swiper-slide">
								<section class="about-dev">
									<header class="profile-card_header">
										<div class="card-cover" style="background-image: url('/job/img/wall1.png');">
										</div>
										<div class="profile-card_header-container">
											<div class="profile-card_header-imgbox">
												<img src="/job/img/wall1.png" alt="Mewy Pawpins" />
											</div>
											<h1 class="swiper-no-swiping">无敌大师兄3 <span>19届-美国约翰霍普金斯大学 -金融学</span>
											</h1>
										</div>
									</header>
									<div class="profile-card_about swiper-no-swiping">
										<h2 class="mb-3">IEG-互娱发行线STC产品部-游戏策划</h2>
										<p class="d-line-3">
											参与到一个创造快乐，发现更多可能的过程，我非常幸福参与到一个创造快乐，发现更多可能的过程，我非常幸福参与到一个创造快乐，发现更多可能的过程，我非常幸福参与到一个创造快乐，发现更多可能的过程，我非常幸福参与到一个创造快乐，发现更多可能的过程，我非常幸福
										</p>

									</div>
								</section>
							</div>
						</div>
						<div class="swiper-pagination"></div>
						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<%= require("html-loader!../common/footer/index.html") %>
</body>

</html>