<!DOCTYPE html>
<html lang="ch">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=0" />
	<title>生意头条 - 生意宝</title>
</head>

<body>
	<!-- 引入公共页头 -->
	<%= require("html-loader!../common/header/index.html") %>
	<main>
		<%= require("html-loader!../common/swiper/index.html") %>
		

		<div class="job-main-wrapper pb-4">
			<div class="base_box pt-5 pb-5 ">
				<div class="addr_list dx-flex dx-flex-wrap">
					<div class="addr_item">
						<div class="addr_card shadow dx-flex dx-col d-col-top d-row-between">
							<div class="addr_card_bg" style="background-image: url('/job/img/wall1.png');">
							</div>
							<div class="addr_card_header text-white p-2">
								<p class="mb-3">123个职位</p>
								<div class="h4 font-weight-bold mb-0">杭州</div>
							</div>
							<div class="addr_card_footer dx-flex ">
								<div class="p-2 font-weight-bold">
									<a href="/job/detail.html" target="_blank">查看详情<i
											class="bi bi-chevron-right"></i></a>
								</div>

								<div class="p-2 font-weight-bold">
									<a href="/job/search.html" target="_blank">查看岗位<i
											class="bi bi-chevron-right"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="addr_item">
						<div class="addr_card shadow dx-flex dx-col d-col-top d-row-between">
							<div class="addr_card_bg" style="background-image: url('/job/img/wall1.png');">
							</div>
							<div class="addr_card_header text-white p-2">
								<p class="mb-3">123个职位</p>
								<div class="h4 font-weight-bold mb-0">杭州</div>
							</div>
							<div class="addr_card_footer dx-flex ">
								<div class="p-2 font-weight-bold">
									<a href="/job/detail.html" target="_blank">查看详情<i
											class="bi bi-chevron-right"></i></a>
								</div>

								<div class="p-2 font-weight-bold">
									<a href="/job/search.html" target="_blank">查看岗位<i
											class="bi bi-chevron-right"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="addr_item">
						<div class="addr_card shadow dx-flex dx-col d-col-top d-row-between">
							<div class="addr_card_bg" style="background-image: url('/job/img/wall2.png');">
							</div>
							<div class="addr_card_header text-white p-2">
								<p class="mb-3">123个职位</p>
								<div class="h4 font-weight-bold mb-0">杭州</div>
							</div>
							<div class="addr_card_footer dx-flex ">
								<div class="p-2 font-weight-bold">
									<a href="/job/detail.html" target="_blank">查看详情<i
											class="bi bi-chevron-right"></i></a>
								</div>

								<div class="p-2 font-weight-bold">
									<a href="/job/search.html" target="_blank">查看岗位<i
											class="bi bi-chevron-right"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="addr_item">
						<div class="addr_card shadow dx-flex dx-col d-col-top d-row-between">
							<div class="addr_card_bg" style="background-image: url('/job/img/wall3.png');">
							</div>
							<div class="addr_card_header text-white p-2">
								<p class="mb-3">123个职位</p>
								<div class="h4 font-weight-bold mb-0">杭州</div>
							</div>
							<div class="addr_card_footer dx-flex ">
								<div class="p-2 font-weight-bold">
									<a href="/job/detail.html" target="_blank">查看详情<i
											class="bi bi-chevron-right"></i></a>
								</div>

								<div class="p-2 font-weight-bold">
									<a href="/job/search.html" target="_blank">查看岗位<i
											class="bi bi-chevron-right"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="addr_item">
						<div class="addr_card shadow dx-flex dx-col d-col-top d-row-between">
							<div class="addr_card_bg" style="background-image: url('/job/img/wall4.png');">
							</div>
							<div class="addr_card_header text-white p-2">
								<p class="mb-3">123个职位</p>
								<div class="h4 font-weight-bold mb-0">杭州</div>
							</div>
							<div class="addr_card_footer dx-flex ">
								<div class="p-2 font-weight-bold">
									<a href="/job/detail.html" target="_blank">查看详情<i
											class="bi bi-chevron-right"></i></a>
								</div>

								<div class="p-2 font-weight-bold">
									<a href="/job/search.html" target="_blank">查看岗位<i
											class="bi bi-chevron-right"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="addr_item">
						<div class="addr_card shadow dx-flex dx-col d-col-top d-row-between">
							<div class="addr_card_bg" style="background-image: url('/job/img/wall5.png');">
							</div>
							<div class="addr_card_header text-white p-2">
								<p class="mb-3">123个职位</p>
								<div class="h4 font-weight-bold mb-0">杭州</div>
							</div>
							<div class="addr_card_footer dx-flex ">
								<div class="p-2 font-weight-bold">
									<a href="/job/detail.html" target="_blank">查看详情<i
											class="bi bi-chevron-right"></i></a>
								</div>

								<div class="p-2 font-weight-bold">
									<a href="/job/search.html" target="_blank">查看岗位<i
											class="bi bi-chevron-right"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="addr_item">
						<div class="addr_card shadow dx-flex dx-col d-col-top d-row-between">
							<div class="addr_card_bg" style="background-image: url('/job/img/wall6.png');">
							</div>
							<div class="addr_card_header text-white p-2">
								<p class="mb-3">123个职位</p>
								<div class="h4 font-weight-bold mb-0">杭州</div>
							</div>
							<div class="addr_card_footer dx-flex ">
								<div class="p-2 font-weight-bold">
									<a href="/job/detail.html" target="_blank">查看详情<i
											class="bi bi-chevron-right"></i></a>
								</div>

								<div class="p-2 font-weight-bold">
									<a href="/job/search.html" target="_blank">查看岗位<i
											class="bi bi-chevron-right"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="addr_item">
						<div class="addr_card shadow dx-flex dx-col d-col-top d-row-between">
							<div class="addr_card_bg" style="background-image: url('/job/img/wall1.png');">
							</div>
							<div class="addr_card_header text-white p-2">
								<p class="mb-3">123个职位</p>
								<div class="h4 font-weight-bold mb-0">杭州</div>
							</div>
							<div class="addr_card_footer dx-flex ">
								<div class="p-2 font-weight-bold">
									<a href="/job/detail.html" target="_blank">查看详情<i
											class="bi bi-chevron-right"></i></a>
								</div>

								<div class="p-2 font-weight-bold">
									<a href="/job/search.html" target="_blank">查看岗位<i
											class="bi bi-chevron-right"></i></a>
								</div>
							</div>
						</div>
					</div> 
				</div>
			</div>

		</div>
	</main>
	<%= require("html-loader!../common/footer/index.html") %>
	<%= require("html-loader!../common/fixed_btn/index.html") %>
</body>

</html>