<!DOCTYPE html>
<html lang="ch">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=0" />
	<title>生意头条 - 生意宝</title>
</head>

<body>
	<!-- 引入公共页头 -->
	<%= require("html-loader!../common/header/index.html") %>
	<main>
		<%= require("html-loader!../common/swiper/index.html") %>

		<div class="job-main-wrapper pb-4">
			<div class="base_box pt-5 pb-2 discover">
				<div class="base_title dx-flex d-row-between d-col-center mb-5">
					<div class="base_title_item base_title_icon dx-flex ">
						<div class="h2 text-body mb-0">所有工作类别</div>
					</div>
					<div class="base_title_item">
						<div class="more_btn">
							<a class="btn_wrap" href="/job/search.html" target="_blank">
								<span class="top-text">探索</span>
								<div class="container">
									<span class="text text1">解</span>
									<span class="text text2">锁</span>
									<span class="text text3">更</span>
									<span class="text text4">多</span>
									<span class="text text5">职</span>
									<span class="text text6">位</span>
								</div>
							</a>

						</div>

					</div>
				</div>
				<div class="base_content base_content_col2 dx-flex d-col-top dx-flex-wrap">
					<div class="base_content_item">
						<a class="base_content_item_job shadow-sm p-4 text-body" href="/job/search.html" target="_blank">
							<div class="job_row dx-flex d-row-between mb-4">
								<div class="job_row_item">
									<span class="job_name font-weight-bolder h5 mb-0">技术类</span>
								</div>
								<div class="job_row_item job-icon">
									<i class="bi bi-justify-right text-primary"></i>
								</div>
							</div>
							<div class="job_row dx-flex d-row-between">
								<div class="job_row_item dx-flex d-col-baseline text-primary">
									<span class="h6 mb-0 font-weight-bolder">了解更多</span>
									<i class="small bi bi-chevron-right"></i>
								</div>
							</div>
						</a>
					</div>
					<div class="base_content_item">
						<a class="base_content_item_job shadow-sm p-4 text-body" href="/job/search.html" target="_blank">
							<div class="job_row dx-flex d-row-between mb-4">
								<div class="job_row_item">
									<span class="job_name font-weight-bolder h5 mb-0">产品类</span>
								</div>
								<div class="job_row_item job-icon">
									<i class="bi bi-justify-right text-primary"></i>
								</div>
							</div>
							<div class="job_row dx-flex d-row-between">
								<div class="job_row_item dx-flex d-col-baseline text-primary">
									<span class="h6 mb-0 font-weight-bolder">了解更多</span>
									<i class="small bi bi-chevron-right"></i>
								</div>
							</div>
						</a>
					</div>
					<div class="base_content_item">
						<a class="base_content_item_job shadow-sm p-4 text-body" href="/job/search.html" target="_blank">
							<div class="job_row dx-flex d-row-between mb-4">
								<div class="job_row_item">
									<span class="job_name font-weight-bolder h5 mb-0">内容类</span>
								</div>
								<div class="job_row_item job-icon">
									<i class="bi bi-justify-right text-primary"></i>
								</div>
							</div>
							<div class="job_row dx-flex d-row-between">
								<div class="job_row_item dx-flex d-col-baseline text-primary">
									<span class="h6 mb-0 font-weight-bolder">了解更多</span>
									<i class="small bi bi-chevron-right"></i>
								</div>
							</div>
						</a>
					</div>
					<div class="base_content_item">
						<a class="base_content_item_job shadow-sm p-4 text-body" href="/job/search.html" target="_blank">
							<div class="job_row dx-flex d-row-between mb-4">
								<div class="job_row_item">
									<span class="job_name font-weight-bolder h5 mb-0">设计类</span>
								</div>
								<div class="job_row_item job-icon">
									<i class="bi bi-justify-right text-primary"></i>
								</div>
							</div>
							<div class="job_row dx-flex d-row-between">
								<div class="job_row_item dx-flex d-col-baseline text-primary">
									<span class="h6 mb-0 font-weight-bolder">了解更多</span>
									<i class="small bi bi-chevron-right"></i>
								</div>
							</div>
						</a>
					</div>
					<div class="base_content_item">
						<a class="base_content_item_job shadow-sm p-4 text-body" href="/job/search.html" target="_blank">
							<div class="job_row dx-flex d-row-between mb-4">
								<div class="job_row_item">
									<span class="job_name font-weight-bolder h5 mb-0">销售、服务与支持类</span>
								</div>
								<div class="job_row_item job-icon">
									<i class="bi bi-justify-right text-primary"></i>
								</div>
							</div>
							<div class="job_row dx-flex d-row-between">
								<div class="job_row_item dx-flex d-col-baseline text-primary">
									<span class="h6 mb-0 font-weight-bolder">了解更多</span>
									<i class="small bi bi-chevron-right"></i>
								</div>
							</div>
						</a>
					</div>
					<div class="base_content_item">
						<a class="base_content_item_job shadow-sm p-4 text-body" href="/job/search.html" target="_blank">
							<div class="job_row dx-flex d-row-between mb-4">
								<div class="job_row_item">
									<span class="job_name font-weight-bolder h5 mb-0">人力资源类</span>
								</div>
								<div class="job_row_item job-icon">
									<i class="bi bi-justify-right text-primary"></i>
								</div>
							</div>
							<div class="job_row dx-flex d-row-between">
								<div class="job_row_item dx-flex d-col-baseline text-primary">
									<span class="h6 mb-0 font-weight-bolder">了解更多</span>
									<i class="small bi bi-chevron-right"></i>
								</div>
							</div>
						</a>
					</div>

					<div class="base_content_item">
						<a class="base_content_item_job shadow-sm p-4 text-body" href="/job/search.html" target="_blank">
							<div class="job_row dx-flex d-row-between mb-4">
								<div class="job_row_item">
									<span class="job_name font-weight-bolder h5 mb-0">营销与公关类</span>
								</div>
								<div class="job_row_item job-icon">
									<i class="bi bi-justify-right text-primary"></i>
								</div>
							</div>
							<div class="job_row dx-flex d-row-between">
								<div class="job_row_item dx-flex d-col-baseline text-primary">
									<span class="h6 mb-0 font-weight-bolder">了解更多</span>
									<i class="small bi bi-chevron-right"></i>
								</div>
							</div>
						</a>
					</div>
					<div class="base_content_item">
						<a class="base_content_item_job shadow-sm p-4 text-body" href="/job/search.html" target="_blank">
							<div class="job_row dx-flex d-row-between mb-4">
								<div class="job_row_item">
									<span class="job_name font-weight-bolder h5 mb-0">战略与投资类</span>
								</div>
								<div class="job_row_item job-icon">
									<i class="bi bi-justify-right text-primary"></i>
								</div>
							</div>
							<div class="job_row dx-flex d-row-between">
								<div class="job_row_item dx-flex d-col-baseline text-primary">
									<span class="h6 mb-0 font-weight-bolder">了解更多</span>
									<i class="small bi bi-chevron-right"></i>
								</div>
							</div>
						</a>
					</div>
					<div class="base_content_item">
						<a class="base_content_item_job shadow-sm p-4 text-body" href="/job/search.html" target="_blank">
							<div class="job_row dx-flex d-row-between mb-4">
								<div class="job_row_item">
									<span class="job_name font-weight-bolder h5 mb-0">财务类</span>
								</div>
								<div class="job_row_item job-icon">
									<i class="bi bi-justify-right text-primary"></i>
								</div>
							</div>
							<div class="job_row dx-flex d-row-between">
								<div class="job_row_item dx-flex d-col-baseline text-primary">
									<span class="h6 mb-0 font-weight-bolder">了解更多</span>
									<i class="small bi bi-chevron-right"></i>
								</div>
							</div>
						</a>
					</div>
					<div class="base_content_item">
						<a class="base_content_item_job shadow-sm p-4 text-body" href="/job/search.html" target="_blank">
							<div class="job_row dx-flex d-row-between mb-4">
								<div class="job_row_item">
									<span class="job_name font-weight-bolder h5 mb-0">法律与公共策略类</span>
								</div>
								<div class="job_row_item job-icon">
									<i class="bi bi-justify-right text-primary"></i>
								</div>
							</div>
							<div class="job_row dx-flex d-row-between">
								<div class="job_row_item dx-flex d-col-baseline text-primary">
									<span class="h6 mb-0 font-weight-bolder">了解更多</span>
									<i class="small bi bi-chevron-right"></i>
								</div>
							</div>
						</a>
					</div>
					<div class="base_content_item">
						<a class="base_content_item_job shadow-sm p-4 text-body" href="/job/search.html" target="_blank">
							<div class="job_row dx-flex d-row-between mb-4">
								<div class="job_row_item">
									<span class="job_name font-weight-bolder h5 mb-0">行政支持类</span>
								</div>
								<div class="job_row_item job-icon">
									<i class="bi bi-justify-right text-primary"></i>
								</div>
							</div>
							<div class="job_row dx-flex d-row-between">
								<div class="job_row_item dx-flex d-col-baseline text-primary">
									<span class="h6 mb-0 font-weight-bolder">了解更多</span>
									<i class="small bi bi-chevron-right"></i>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="base_box pt-5 pb-2 discover">
				<div class="base_title dx-flex d-row-between d-col-center mb-5">
					<div class="base_title_item base_title_icon dx-flex ">
						<div class="h2 text-body mb-0">常见问题</div>
					</div>
				</div>
				<div class="">
					<div class="list-group">
						<div class="list-group-item p-4" data-toggle="collapse" href="#QA1" role="button"
							aria-expanded="false" aria-controls="collapseExample">
							<div class="dx-flex d-row-between">
								<div class="item font-weight-bolder h6 mb-0 text-dark">1. 如何应聘网盛的职位？</div>
								<div class="item text-primary h4 mb-0"><i class="bi bi-patch-question-fill"></i></div>
							</div>
							<div class="collapse " id="QA1">
								<div class="card mt-3 bg-light text-secondary">
									<div class="card-body">
										<p>（1）网盛招聘官网应聘：点击首页右上角的“登录”按钮，上传简历附件或者直接录入信息、完成简历注册，请正确填写联系电话和邮箱（简历越详细，越能帮助面试官发现你的闪光点）；
										</p>
										<p>（2）网盛内部员工进行伯乐推荐：如果您有熟悉的朋友在网盛，可以将简历发给他们，他们帮大家进行推荐、应聘。</p>
										<p class="mt-4">注：同一时间只可以在一个岗位进行面试，如果同一时间有多个岗位邀请面试，请向HR或者面试官说明这个情况。</p>
									</div>
								</div>
							</div>

						</div>
						<div class="list-group-item p-4" data-toggle="collapse" href="#QA2" role="button"
							aria-expanded="false" aria-controls="collapseExample">
							<div class="dx-flex d-row-between">
								<div class="item font-weight-bolder h6 mb-0 text-dark">2. 应届生如何应聘？</div>
								<div class="item text-primary h4 mb-0"><i class="bi bi-patch-question-fill"></i></div>
							</div>
							<div class="collapse" id="QA2">
								<div class="card mt-3 bg-light text-secondary">
									<div class="card-body">
										<p>如果您还是在校学生，那么您可以通过以下渠道应聘：</p>
										<p>（1）寻求中国区的校园招聘职位：点击首页上方的"校园招聘"-->“中国区职位”选项，或直接在浏览器输入 http://join.qq.com
											（网盛校园招聘网站的永久域名）；</p>
										<p>（2）寻求非中国区的校园招聘职位：点击首页上方的"校园招聘"--> 相应的地区页选项。</p>
									</div>
								</div>
							</div>

						</div>
						<div class="list-group-item p-4" data-toggle="collapse" href="#QA3" role="button"
							aria-expanded="false" aria-controls="collapseExample">
							<div class="dx-flex d-row-between">
								<div class="item font-weight-bolder h6 mb-0 text-dark">3. 我注册了简历，但为什么没有人联系我？</div>
								<div class="item text-primary h4 mb-0"><i class="bi bi-patch-question-fill"></i></div>
							</div>
							<div class="collapse" id="QA3">
								<div class="card mt-3 bg-light text-secondary">
									<div class="card-body">
										<p>只要注册了简历，并应聘了某个职位，您的应聘会直接进入面试官的工作列表。面试官会定期处理简历，并及时与合适的候选人取得联系，若应聘长时间没有取得联系，可能是简历信息与该岗位面试官期望有所差异，而面试官未能一一联系、知会，敬请谅解，可以再投递其他岗位试试看。
										</p>
									</div>
								</div>
							</div>

						</div>
						<div class="list-group-item p-4" data-toggle="collapse" href="#QA4" role="button"
							aria-expanded="false" aria-controls="collapseExample">
							<div class="dx-flex d-row-between">
								<div class="item font-weight-bolder h6 mb-0 text-dark">4. 如何进行简历修改？</div>
								<div class="item text-primary h4 mb-0"><i class="bi bi-patch-question-fill"></i></div>
							</div>
							<div class="collapse" id="QA4">
								<div class="card mt-3 bg-light text-secondary">
									<div class="card-body">
										<p>您注册简历后，还可以修改个人简历信息，操作如下：</p>
										<p>1.使用您的账号登录招聘系统；</p>
										<p>2.点击“我的简历”-“编辑修改”，填写要修改的信息。</p>
										<p>3.点击“保存”按钮。</p>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<%= require("html-loader!../common/footer/index.html") %>
	<%= require("html-loader!../common/fixed_btn/index.html") %>
</body>

</html>