<!DOCTYPE html>
<html lang="ch">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=0" />
	<title>生意头条 - 生意宝</title>
</head>

<body>
	<!-- 引入公共页头 -->
	<%= require("html-loader!../common/header/index.html") %>
	<main>
		<%= require("html-loader!../common/swiper/index.html") %>

		<div class="job-main-wrapper pb-4">
			<div class="base_box pt-5 pb-5 ">
				<div class="wall-box-w" style="background-image: url('/job/img/wall1.png');">
					<div class="wall-box dx-flex">
						<div class="item dx-flex-1">
							<div class="item-content p-2 text-white">
								<div class="content-title animated fadeIn font-weight-bold h5 mb-0">
									<p>关心员工成长</p>
								</div>
								<div class="content-sub animated fadeInUp">
									<p>关注员工成长是网盛的管理理念，我们为员工提供各种需要的资源和帮助面对未来，让你的工作和生活更加精彩。</p>

								</div>
							</div>
						</div>
						<div class="item dx-flex-1">
							<div class="item-content p-2 text-white">
								<div class="content-title animated fadeIn font-weight-bold h5 mb-0">
									<p>人才活水，助力职业发展</p>
								</div>
								<div class="content-sub animated fadeInUp">
									<p>公司的活水文化，可以帮助你自由的选择适合自己的工作岗位，为你的职业发展提供无限可能。</p>
								</div>
							</div>
						</div>
						<div class="item dx-flex-1">
							<div class="item-content p-2 text-white">
								<div class="content-title animated fadeIn font-weight-bold h5 mb-0">
									<p>你能时刻保持学习</p>
								</div>
								<div class="content-sub animated fadeInUp">
									<p>你可以在网盛学堂全方位持续学习，学到更多职场技巧和专业技能，在网盛同事互称同学，每个同事都亦师亦友。为你职场路上不断充电。</p>

								</div>
							</div>
						</div>
						<div class="item dx-flex-1">
							<div class="item-content p-2 text-white">
								<div class="content-title animated fadeIn font-weight-bold h5 mb-0">
									<p>庆祝你的每个里程碑</p>
								</div>
								<div class="content-sub animated fadeInUp">
									<p>为你的生日准备特别的祝福，为你的宝宝送上含有出生日期的QQ靓号，为你的职场纪念日赋予独特的意义，网盛和你庆祝每一个人生里程碑。</p>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="base_box pt-5 pb-5 ">
				<div class="wall-box-w" style="background-image: url('/job/img/wall6.png');">
					<div class="wall-box dx-flex ">
						<div class="item dx-flex-1">
							<div class="item-content p-2 text-white">
								<div class="content-title animated fadeIn font-weight-bold h5 mb-0">
									<p>关注你的家人</p>
								</div>
								<div class="content-sub animated fadeInUp">
									<p>我们设计了很多慷慨走心的福利，帮助你和你的亲人度过人生不同的阶段。</p>

								</div>
							</div>
						</div>
						<div class="item dx-flex-1">
							<div class="item-content p-2 text-white">
								<div class="content-title animated fadeIn font-weight-bold h5 mb-0">
									<p>别错过家人的重要时刻</p>
								</div>
								<div class="content-sub animated fadeInUp">
									<p>一儿童节、长辈关怀节、家属开放日……你爱的人，我们一样关心。</p>
								</div>
							</div>
						</div>
						<div class="item dx-flex-1">
							<div class="item-content p-2 text-white">
								<div class="content-title animated fadeIn font-weight-bold h5 mb-0">
									<p>带着家属来上班</p>
								</div>
								<div class="content-sub animated fadeInUp">
									<p>每年一次的家属开放日，带家人一起来感受工作和环境，让家人和你之间的距离再近一步，从家到家，同样温暖。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="base_box pt-5 pb-5 ">
				<div class="wall-box-w" style="background-image: url('/job/img/wall5.png');">
					<div class="wall-box dx-flex ">
						<div class="item dx-flex-1">
							<div class="item-content p-2 text-white">
								<div class="content-title animated fadeIn font-weight-bold h5 mb-0">
									<p>关心员工成长</p>
								</div>
								<div class="content-sub animated fadeInUp">
									<p>关注员工成长是网盛的管理理念，我们为员工提供各种需要的资源和帮助面对未来，让你的工作和生活更加精彩。</p>

								</div>
							</div>
						</div>
						<div class="item dx-flex-1">
							<div class="item-content p-2 text-white">
								<div class="content-title animated fadeIn font-weight-bold h5 mb-0">
									<p>人才活水，助力职业发展</p>
								</div>
								<div class="content-sub animated fadeInUp">
									<p>公司的活水文化，可以帮助你自由的选择适合自己的工作岗位，为你的职业发展提供无限可能。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<%= require("html-loader!../common/footer/index.html") %>
	<%= require("html-loader!../common/fixed_btn/index.html") %>
</body>

</html>