<!DOCTYPE html>
<html lang="ch">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=0" />
	<title>生意头条 - 生意宝</title>
</head>

<body>
	<!-- 引入公共页头 -->
	<%= require("html-loader!../common/header/index.html") %>
	<main>
		<div class="main-container dx-flex d-col-top pt-4">
			<div class="screen-main pr-3">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">网盛招聘</a></li> 
						<li class="breadcrumb-item active" aria-current="page">文章公告标题</li>
					</ol>
				</nav>
				<div class="main-title mb-4">
					文章/公告标题
				</div>
				<div class="main-sub dx-flex mb-4">
					<div class="item item-key mr-3">标签</div>
					<div class="item item-time mr-3">2022-2-24 15:24:41</div>
					<div class="item item-source">人民日报</div>
				</div>
				<div class="main-content mt-4">
					<p>
						严峻的乌克兰形势令本已紧张的能源供需关系雪上加霜，国际油价本周继续刷新2014年以来新高，布伦特原油距离100美元心理关口仅一步之遥。
						能源价格正在对消费国形成巨大物价压力，也让各国央行政策选择陷入困境。
					</p>
					<p>
						原油经纪商PVM Oil Associates高级市场分析师瓦尔加（Tamas
						Varga）在接受第一财经记者采访时表示，每桶100美元的油价只是时间问题。他认为，在可预见的未来，OPEC+将继续为兑现其增产承诺而努力，油价有望维持高位运行。为了平抑通胀压力，伊朗原油入市已经成为美国政府为数不多的选择。
					</p>
					<p>投资不足限制产能扩张</p>
					<p>
						今年以来，国际油价震荡上行，累计涨幅超过20%。布伦特原油近月合约本周最高触及99美元，创2014年9月以来新高。
						地缘政治因素的不确定性让形势变得愈加复杂。随着全球多地逐步解除抗疫限制措施，航空和公路需求回暖正在带动能源消耗飙升，而库存却正在捉襟见肘。国际能源署在月度市场报告中表示，如果OPEC+产量与其目标水平之间的差距继续存在，供应紧张局势将增加价格波动加剧和上涨压力的可能性。
					</p>
					<p>
						瓦尔加表示，需求上升、OPEC+供应限制、地缘政治以及寒流天气等因素最近都支撑了油价。更重要的是，油价的反弹与迅速上涨的现货溢价相结合反映了多头情绪的释放。目前OPEC+减产协议遵守率接近120%，产油国产能释放短期内将继续滞后于计划。虽然沙特和阿联酋有额外增产的条件，但两国尚无主动打破协议的需求和欲望。
					</p>
				</div>
			</div>
		</div>
	</main>
	<%= require("html-loader!../common/footer/index.html") %>
	<%= require("html-loader!../common/fixed_btn/index.html") %>
</body>

</html>